@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

*{
	margin:0px;
	padding: 0px;
	list-style: none;

}

header{
	background-image: url(../images/banner.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	/*opacity: .8;*/	
}

header .p-0{
 	padding: 0px;
 	overflow-x: hidden;
}

.main_menu{
	text-align: center;
}

.main_menu ul{
	margin-top: 8px;
	text-align: center;
}

.main_menu ul li{
	display: inline-block;
	margin:30px;
}

.main_menu ul li a{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}

.say-hello{
	text-align: center;
	margin-top: 30px;
	position: relative;
}

.say-hello a{
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	text-decoration: none;
}

.say-hello a::after{
	content: '';
	width: 90px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top:28px;
	left: 136px;
}

.header-text{
	text-align: center;
}

.header-text h1{
	margin-top: 15%;
	font-family: 'Philosopher', sans-serif;
	font-size: 64px;
	font-weight: bold;
	color: #fff;
	user-select: none;
}

.view-menu{
	margin-top: 40px;
}

.view-menu a{
	background-color: #db9a64;
	padding: 20px 50px;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: .5s;
}

.view-menu a:hover{
	background-color: #0f2c6e;
	letter-spacing: 2px;
	transition: .5s;
}

/*------about area------*/
.about-area{
	padding-top: 100px;
	background-color: #FFFBF5;
	padding-bottom: 120px;
	position: relative;
}

.about-area .about-info-text h3{

	font-family: 'Philosopher', sans-serif;
	font-size: 52px;
	line-height: 60px;
	color: #000;
	user-select: none;
}

.about-area .about-info-text .long-dash{
	width: 120px;
	height: 3px;
	background-color: #db9a64;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 40px;
}

.about-area .about-info-text p{
	color: #596672;
	line-height: 28px;
	font-size:16px;
	margin-bottom: 50px;
	text-align: left;
}

.about-area .about-img {
	text-align: right;
}

.about-area .about-img .img-1 img{
	min-width: 70%;
	vertical-align: middle;
	border-radius: 20px;
}

.about-area .about-img .small-img img{
	position: absolute;
	bottom: -150px;
	left: 10px;
	border: 10px solid #fff;
	border-radius: 18px;
}


/*Partical-Js*/

.zoom{
    height: 100vh;
    width: 100%;
    /*background: #000;*/
    background-image: url('../images/spider.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor:url('../cursor.png'),auto;
  }